[run]
omit =
    */__init__.py
    */asgi.py
    */settings.py
    */urls.py
    */wsgi.py
    */manage.py
    pycodestyle-master/testsuite/*
    testAssignment.py
    sentimental_analysis/realworld/apps.py 