
.u-section-1 {background-image: url("/static/images/a7a4b738c399a8a2bff340a4ee1e90f9.png"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 705px; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-image-1 {width: 529px; height: 457px; margin: 124px auto 0}
.u-section-1 .u-group-1 {width: 739px; min-height: 456px; margin: -455px auto 70px}
.u-section-1 .u-text-1 {font-weight: 400; font-size: 4.5rem; margin: 45px 20px 0}
.u-section-1 .u-text-2 {font-size: 1.25rem; letter-spacing: 2px; margin: 12px 20px 0}
.u-section-1 .u-line-1 {width: 102px; height: 10px; transform-origin: left center; margin: 34px auto 45px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 651px}
.u-section-1 .u-image-1 {width: 436px}
.u-section-1 .u-group-1 {width: 745px; margin-top: -456px; margin-bottom: 71px}
.u-section-1 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-1 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-1 .u-line-1 {width: 84px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 652px}
.u-section-1 .u-image-1 {width: 334px}
.u-section-1 .u-group-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-1 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-1 .u-line-1 {width: 65px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 563px}
.u-section-1 .u-image-1 {width: 313px; margin-top: 35px}
.u-section-1 .u-group-1 {margin-top: -438px; margin-bottom: 54px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin-top: 106px; margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-2 {font-size: 1.125rem; margin-left: 9px; margin-right: 9px}
.u-section-1 .u-line-1 {width: 61px; transform-origin: left center 0; margin-top: 36px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {width: 263px}
.u-section-1 .u-group-1 {margin-top: 20px; margin-bottom: 70px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-1 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-1 .u-line-1 {width: 51px} }.u-section-2 {background-image: url("/static/images/326f08696b0f3d7a9f28b5635af38ed3.png"); background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 902px}
.u-section-2 .u-layout-wrap-1 {margin: 193px auto 60px -67px}
.u-section-2 .u-layout-cell-1 {min-height: 402px}
.u-section-2 .u-text-1 {font-weight: 400; font-size: 3rem; margin: 115px 15px 0 27px}
.u-section-2 .u-btn-1 {padding: 0}
.u-section-2 .u-text-2 {font-size: 1rem; letter-spacing: 2px; margin: 73px 15px 0 27px}
.u-section-2 .u-layout-cell-2 {min-height: 402px}
.u-section-2 .u-text-3 {font-weight: 400; font-size: 3rem; margin: 114px 0 0 42px}
.u-section-2 .u-btn-2 {padding: 0}
.u-section-2 .u-text-4 {font-size: 1rem; letter-spacing: 2px; position: relative; margin: 61px 21px 0}
.u-section-2 .u-layout-cell-3 {background-image: none; min-height: 402px}
.u-section-2 .u-text-5 {font-weight: 400; font-size: 3rem; position: relative; margin: 141px 21px 0}
.u-section-2 .u-btn-3 {padding: 0}
.u-section-2 .u-text-6 {font-size: 1rem; letter-spacing: 2px; margin: 97px 29px 0 13px}
.u-section-2 .u-layout-cell-4 {background-image: none; min-height: 402px}
.u-section-2 .u-text-7 {font-weight: 400; font-size: 3rem; position: relative; margin: 114px 21px 0}
.u-section-2 .u-btn-4 {padding: 0}
.u-section-2 .u-text-8 {font-size: 1rem; letter-spacing: 2px; margin: 61px 21px 0} 

@media (max-width: 1199px){ .u-section-2 {min-height: 722px}
.u-section-2 .u-sheet-1 {min-height: 722px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 331px}
.u-section-2 .u-text-1 {position: relative; margin-left: 17px; margin-right: 17px}
.u-section-2 .u-text-2 {position: relative; margin-left: 17px; margin-right: 17px; margin-bottom: 33px}
.u-section-2 .u-layout-cell-2 {min-height: 331px}
.u-section-2 .u-text-3 {position: relative; margin-top: 134px; margin-left: 0}
.u-section-2 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-2 .u-layout-cell-3 {min-height: 331px}
.u-section-2 .u-text-5 {margin-top: 142px; margin-left: 17px; margin-right: 17px}
.u-section-2 .u-text-6 {margin-left: 17px; margin-right: 17px}
.u-section-2 .u-layout-cell-4 {min-height: 331px}
.u-section-2 .u-text-7 {margin-top: 100px; margin-left: 17px; margin-right: 17px}
.u-section-2 .u-text-8 {position: relative; margin-left: 17px; margin-right: 17px} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-2 {margin: 21px 13px 40px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-text-3 {margin-top: 116px}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-text-5 {margin-top: 150px; margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-6 {margin: 21px 13px 40px}
.u-section-2 .u-layout-cell-4 {min-height: 100px}
.u-section-2 .u-text-7 {margin-top: 133px; margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-8 {margin: 21px 13px 40px} }

@media (max-width: 767px){ .u-section-2 {min-height: 1067px}
.u-section-2 .u-sheet-1 {min-height: 1067px}
.u-section-2 .u-layout-wrap-1 {margin-top: 47px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {margin-top: 52px; margin-left: 10px; margin-right: 10px}
.u-section-2 .u-text-2 {margin-left: 10px; margin-right: 10px; margin-bottom: 0}
.u-section-2 .u-text-5 {margin-left: 10px; margin-right: 10px}
.u-section-2 .u-text-6 {position: relative; margin-left: 10px; margin-right: 10px; margin-bottom: 0}
.u-section-2 .u-text-7 {margin-top: 153px; margin-left: 10px; margin-right: 10px}
.u-section-2 .u-text-8 {margin-left: 10px; margin-right: 10px; margin-bottom: 0} }

@media (max-width: 575px){ .u-section-2 {min-height: 1021px}
.u-section-2 .u-sheet-1 {min-height: 1021px}
.u-section-2 .u-layout-wrap-1 {margin-top: 33px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {margin-top: 57px; margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-2 {margin-top: 22px; margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-3 {font-size: 1.5rem}
.u-section-2 .u-text-5 {margin-top: 157px; margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-6 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-7 {margin-top: 155px; margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-8 {margin-left: 6px; margin-right: 6px} }