# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python -c "import nltk; nltk.download('punkt'); nltk.download('stopwords')"
    - name: Lint with pylint
      run: |
        pylint Amazon_Comments_Scrapper
        pylint sentimental_analysis
    - name: Test with pytest
      run: |
        pytest test
    # - name: Run tests and collect coverage
    #   run: |
    #     (sleep 2; python3 -m pytest test/tests.py) & (coverage run --source=./src -m pytest src/bot.py )
    #     coverage xml
    - name: Generate coverage report
      run: |
        pip install pytest
        pip install pytest-cov
        pytest test --cov=./ --cov-report=xml
    # - name: Upload coverage to Codecov
    #   uses: codecov/codecov-action@v2
    #   env:
    #     CODECOV_TOKEN: b441c10b-537e-47cc-90d8-653310cdfec3
    #   with:
    #     directory: ./test
    #     fail_ci_if_error: true
    #     files: ./coverage1.xml,./coverage2.xml,!./cache
      
